<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Personal Best</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>

<body>
    <h1>Personal Best</h1>
    <button id="button-showCreate" onclick="showCreate()">Create</button>    

    <div>
    <table class="table" id="exerciseTable">
        <tr>
            <th>id</th>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Weight (kg)</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
    </table>
    </div>

    <h2>
        <span id="createLabel" style="display:none">Create an exercise</span>
        <span id="updateLabel" style="display:none">Update this</span> 
    </h2>

    <div id='createUpdateForm' style="display: none">
        ID <input type="text" name="id" readonly><br/>
        Exercise <input type="text" name="Exercise"><br/>
        Sets <input type="number" name="Sets"><br/>
        Reps <input type="number" name="Reps"><br/>
        Weight (kg) <input type="number" name="Weight"><br/>
    
        <span id="createLabel" style="display:none">Create a exercise</span>
        <span id="updateLabel" style="display:none">update</span>         
        <span><button id="button-doCreate" onclick="doCreate()">Create</button></span>
        <span><button id="button-doUpdate" onclick="doUpdate()">Update</button></span>
    </div>

    <script>
        const baseUrl = "https://mhmdmahdi1.pythonanywhere.com/";

        // Function to fetch and display data from the server
        function fetchDataAndDisplay() {
            $.ajax({
                url: baseUrl + "get_all_data",
                method: "GET",
                dataType: "JSON",
                success: function (data) {
                    displayDataInTable(data);
                },
                error: function (xhr, status, error) {
                    console.log("Error fetching data: " + status + " msg:" + error);
                }
            });
        }

        // Function to display data in the table
        function displayDataInTable(data) {
            var tableElement = document.getElementById('exerciseTable');
            // Clear existing rows
            tableElement.innerHTML = "";
            
            // Add header row
            var headerRow = tableElement.insertRow(0);
            headerRow.innerHTML = "<th>id</th><th>Exercise</th><th>Sets</th><th>Reps</th><th>Update</th><th>Delete</th>";

            // Add data rows
            for (var i = 0; i < data.length; i++) {
                var exercise = data[i];
                var rowElement = tableElement.insertRow(-1);
                rowElement.setAttribute('id', exercise.id);

                var idCell = rowElement.insertCell();
                idCell.innerHTML = exercise.id;

                var exerciseCell = rowElement.insertCell();
                exerciseCell.innerHTML = exercise.Exercise;

                var setsCell = rowElement.insertCell();
                setsCell.innerHTML = exercise.Sets;

                var repsCell = rowElement.insertCell();
                repsCell.innerHTML = exercise.Reps;

                var weightCell = rowElement.insertCell(); 
                weightCell.innerHTML = exercise.Weight; 

                var updateCell = rowElement.insertCell();
                updateCell.innerHTML = '<button onclick="showUpdate(this)">Update</button>';

                var deleteCell = rowElement.insertCell();
                deleteCell.innerHTML = '<button onclick="doDelete(this)">Delete</button>';
            }
        }

        // Call the fetch function when the page loads
        window.onload = function() {
            fetchDataAndDisplay();
        };

        function showCreate() {
            console.log("showCreate function is called");
            document.getElementById('button-showCreate').style.display="none";
            document.getElementById('exerciseTable').style.display="none";
            document.getElementById('createUpdateForm').style.display="block";

            document.getElementById('createLabel').style.display="inline";
            document.getElementById('updateLabel').style.display="none";

            document.getElementById('button-doCreate').style.display="block";
            document.getElementById('button-doUpdate').style.display="none";

            console.log("getElementById - Create")
        }

        function showUpdate(element) {
            document.getElementById('button-showCreate').style.display = "none";
            document.getElementById('exerciseTable').style.display = "none";
            document.getElementById('createUpdateForm').style.display = "block";

            document.getElementById('createLabel').style.display = "none";
            document.getElementById('updateLabel').style.display = "inline";

            document.getElementById('button-doCreate').style.display = "none";
            document.getElementById('button-doUpdate').style.display = "block";

            // Additional logic to populate the form with data from the selected row
            var rowElement = element.parentNode.parentNode;
            var exercise = getexerciseFromRow(rowElement);
            populateFormWithexercise(exercise);

            console.log("showUpdate")
            console.log("exercise is " + JSON.stringify(exercise))
        }

        function doCreate() {
            console.log("doCreate function is called");
            var exercise = getexerciseFromForm();
            $.ajax({
                url: baseUrl,
                method: "POST",
                data: JSON.stringify(exercise),
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (result) {
                    console.log(result);
                    addexerciseToTable(exercise);
                    clearForm();
                    showViewAll();
                },
                error: function (xhr, status, error) {
                    console.log("Error creating exercise: " + status + " msg:" + error);
                }
            });
        }

        function doUpdate() {
            var exercise = getexerciseFromForm();
            if (!exercise.id) {
                console.error("Exercise ID is undefined. Unable to update.");
                return;
            }

            var rowElement = document.getElementById(exercise.id);
            if (!rowElement) {
                console.error("Row element not found. ID: " + exercise.id);
                return;
            }

            $.ajax({
                url: baseUrl + exercise.id,
                method: "PUT",
                data: JSON.stringify(exercise),
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (result) {
                    console.log(result);
                    setexerciseInRow(rowElement, exercise);
                    clearForm();
                    showViewAll();
                },
                error: function (xhr, status, error) {
                    console.log("Error updating exercise: " + status + " msg:" + error);
                }
            });
        }

        function doDelete(element) {
            var tableElement = document.getElementById('exerciseTable');
            var rowElement = element.parentNode.parentNode;
            var exerciseId = rowElement.id;

            $.ajax({
                url: baseUrl + "delete/" + exerciseId,
                method: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "JSON",
                success: function (result) {
                    console.log(result);
                    tableElement.deleteRow(rowElement.rowIndex);
                },
                error: function (xhr, status, error) {
                    console.log("Error deleting exercise: " + status + " msg:" + error);
                }
            });
        }

        function addexerciseToTable(exercise) {
            var tableElement = document.getElementById('exerciseTable');
            var rowElement = tableElement.insertRow(-1);
            rowElement.setAttribute('id', exercise.id); // Set the id attribute to match the exercise ID

            var cell1 = rowElement.insertCell(0);
            cell1.innerHTML = exercise.id;

            var cell2 = rowElement.insertCell(1);
            cell2.innerHTML = exercise.Exercise;

            var cell3 = rowElement.insertCell(2);
            cell3.innerHTML = exercise.Sets;

            var cell4 = rowElement.insertCell(3);
            cell4.innerHTML = exercise.Reps;

            var cell5 = rowElement.insertCell(4);
            cell5.innerHTML = exercise.Weight;

            var cell5 = rowElement.insertCell(5);
            cell5.innerHTML = '<button onclick="showUpdate(this)">Update</button>';

            var cell6 = rowElement.insertCell(6);
            cell6.innerHTML = '<button onclick="doDelete(this)">Delete</button>';

            console.log("addexerciseToTable");
            console.log("exercise is " + JSON.stringify(tableElement));
        }

        function clearForm() {
            var form = document.getElementById('createUpdateForm');
            
            if (form) {
                var idInput = form.querySelector('input[name="id"]');
                var setsInput = form.querySelector('input[name="Sets"]');
                var exerciseInput = form.querySelector('input[name="Exercise"]');
                var repsInput = form.querySelector('input[name="Reps"]');

                if (idInput) {
                    // idInput.disabled = false; // Remove this line if you decide to keep the ID input enabled
                    idInput.value = "";
                }

                if (setsInput) {
                    setsInput.value = "";
                }

                if (exerciseInput) {
                    exerciseInput.value = "";
                }

                if (repsInput) {
                    repsInput.value = "";
                }
            }

            console.log("clearForm");
        }

        function getexerciseFromForm() {
            var form = document.getElementById('createUpdateForm');
            var exercise = {};
            exercise.id = form.querySelector('input[name="id"]').value;
            exercise.Exercise = form.querySelector('input[name="Exercise"]').value;
            exercise.Sets = form.querySelector('input[name="Sets"]').value;
            exercise.Reps = form.querySelector('input[name="Reps"]').value;
            console.log(JSON.stringify(exercise));
            return exercise;
        }

        function getexerciseFromRow(rowElement) {
            var exercise = {};
            exercise.id = rowElement.cells[0].textContent;
            exercise.Exercise = rowElement.cells[1].textContent;
            exercise.Sets = rowElement.cells[2].textContent;
            exercise.Reps = rowElement.cells[3].textContent;
            return exercise;

            console.log("getexerciseFromRow")
        }

        function populateFormWithexercise(exercise) {
            var form = document.getElementById('createUpdateForm');
            form.querySelector('input[name="id"]').disabled = true;
            form.querySelector('input[name="id"]').value = exercise.id;
            form.querySelector('input[name="Exercise"]').value = exercise.Exercise;
            form.querySelector('input[name="Sets"]').value = exercise.Sets;
            form.querySelector('input[name="Reps"]').value = exercise.Reps;

            console.log("populateFormWithexercise");
            console.log("exercise is " + JSON.stringify(exercise));
        }

        function setexerciseInRow(rowElement, exercise) {
            rowElement.cells[0].textContent = exercise.id;
            rowElement.cells[1].textContent = exercise.Exercise;
            rowElement.cells[2].textContent = exercise.Sets;
            rowElement.cells[3].textContent = exercise.Reps;

            console.log("setexerciseInRow")
        }

        function showViewAll() {
            document.getElementById('button-showCreate').style.display = "block";
            document.getElementById('exerciseTable').style.display = "table";
            document.getElementById('createUpdateForm').style.display = "none";

            console.log("showViewAll")
        }
    </script>
</body>
</html>
